<% content_for :features, "table-page" %>
<% content_for :class, "table-page" %>
<% content_for :head do %>
<%= stylesheet_link_tag 'light_bootstrap_dashboard/demo', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'light_bootstrap_dashboard/demo', 'data-turbolinks-track' => true %>
<% end %>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image='<%= image_path('light_bootstrap_dashboard/sidebar-5.jpg') %>'>

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a>
                    <%= link_to 'Back', stocks_path, class="pe-7s-news-paper" %>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                 <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Table List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Stock Ranking</h4>
                            </div>
                            <div class-"row">
                                <div class="form form-group">
                                <%= form_tag stocks_chart_path, :method => 'get' do%>
                                    <p>
                                        <%= text_field_tag :search,  params[:search], placeholder: "Search text " %>
                                        <%= submit_tag "Search", :name => nil %>
                                    </p>
                                <% end %>
                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-condensed table-striped">
                                    <thead>
                                            <th><%= sortable "ticker" %></th>
                                            <th><%= sortable "name"   %></th>
                                            <th><%= sortable "last_price", "Price" %> </th>
                                            <th><%= sortable "return" %></th>
                                            <th><%= sortable "risk"   %></th>
                                            <th><%= sortable "sharpe", "Sharpe" %></th>
                                            <th><%= sortable "alpha", "Alpha " %></th>
                                            <th colspan="3"></th>
                                    </thead>
                                    <tbody>
                                        <% @stocks.each do |stock| %>
                                          <tr>
                                            <td style="text-align: center"><%= stock.ticker %></td>
                                            <td style="text-align: left"><%= stock.name %></td>
                                            <td style="text-align: right"><%= number_with_precision(stock.last_price, precision: 2) %></td>
                                            <td style="text-align: right"><%= number_to_percentage(stock.return*100, precision: 1) %></td>
                                            <td style="text-align: right"><%= number_to_percentage(stock.risk*100, precision: 1) %></td>
                                            <td style="text-align: right"><%= number_with_precision(stock.sharpe, precision: 3) %></td>
                                            <td style="text-align: right"><%= number_to_percentage(stock.alpha*100, precision: 1) %></td>
                                          </tr>
                                        <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    
                    <%= will_paginate @stock %>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 by professionals for professionals
                </p>
            </div>
        </footer>


    </div>
</div>
